<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vikram.mvpsample">

    <application
        android:name=".MVPApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui_presentation.landing.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui_presentation.sign_in.SignInActivity" />
        <activity android:name=".ui_presentation.register.RegistrationActivity" />
        <activity android:name=".ui_presentation.home.HomeActivity" />
    </application>

</manifest>